* {
    font-family: 'Noto Sans TC', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(225deg, #EEAD92, #6018DC);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000;
}

#content {
    /* width: auto; */
    height: 1000px;
    margin-block: 100px;
    margin-inline: 200px;
    background-color: aliceblue;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#title {
    font-size: 50px;
    margin-block: 50px;
    color: #000;
}


#dividing-line {
    background-color: #000;
    height: 1px;
    width: 900px;
}

#go-top {
    display: none;
    position: fixed;
    width: 60px;
    height: 60px;
    right: 20px;
    bottom: 20px;
    border: none;
    border-radius: 100%;
    font-size: 20px;
    background-color: rgba(240, 248, 255, 0.5);
    color: #000;
    transition-duration: 1000ms;
    transition-timing-function: cubic-bezier(0.08, 0.91, 0.24, 1.01);
}

#go-top:hover {
    width: 62px;
    height: 62px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    cursor: pointer;
}